body{
    height: 100vh;
    min-height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(245, 245, 245))
}

#form-border{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 3px 3px rgb(56, 56, 56)
}

#form-title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
}



#form-section{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#form-section > div > input,
select{
    margin-bottom: 20px;
    height: max(4.5vh, 23px);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#form-section > div > label{
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}

#form-section > div{
    display: flex;
    flex-direction: column;
}

select{
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

#submitbtn{
    margin-top: 20px;
    background-color: white;
    width: 150px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    box-shadow: 3px 3px rgb(56, 56, 56)
}