body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-border{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 3px 3px rgb(56, 56, 56)
}

#form-title{
    font-family: sans-serif;
    font-size: 18px;
}